<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="neohuy_admingrid1" frontName="admin_grid1">
            <module name="Neohuy_AdminGrid1" before="Magento_Backend" />
        </route>
    </router>
</config>
